html {
    background-color: aliceblue;
    background-image: url("../pictures/sf_01.png");
}

body {
    background-image: url("../pictures/sf_01.png");
    background-color: #cccccc;
   }

h1 {
    text-align: center;
    font-size: 4em;
}

a {
    text-decoration: none;
}

#charaName {
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: large;
    color: aliceblue;
    left: 130px;
    bottom: 160px;
}

#textBox{
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: medium;
    color: aliceblue;
    left: 130px;
    top: 550px;
}

button {
    padding: 5px;
    background-color:transparent;
    border: none;
    color: white;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#more {
    width: 30px;
    position: fixed;
    float: right;
    bottom: 80px;
    height:30px;
    left: 950px;
    color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    color: transparent;
}


#diaBox {
    background-image: url("../pictures/box.png");;
    position: fixed;
    width: 80%;
    border: none;
    display: block;
    bottom: 50px;
    left: auto;
    height: 200px;
    background-repeat: no-repeat;
    /* z-index: -1; */
}

#choicesPanel {
    position: absolute;
    display: none;
    background-image: url("../pictures/choice.png");
    background-repeat: no-repeat;
    left: 300px;
    top: 200px;
    width: 50%;
    padding: 2%;
    border: none;
    margin: 10% auto;
    
    
}